@use "colors.scss" as colors;

.main-header {
    display: flex;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color: colors.$primary-color;
    z-index: 1000;

    &__title {
        font-size: 2rem;
        color: white;
    }
}