@font-face {
    font-family: 'MonoMedium';
    src: url('../public/JetBrainsMono-Medium.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'MonoMedium';
    font-size: 14px;
}